body {
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ======== HEADER ======== */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.flex {
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.logo {
  display: inline-block;
  margin-right: 76px;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-span {
  color: #2e2f42;
}

.address {
  display: flex;
  margin-left: auto;
  font-style: normal;
}

.address-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #2e2f42;
  font-weight: 500;
}

.address-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.nav-link:active {
  color: #404bbf;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
/* ======== /HEADER ======== */

/* ======== MAIN ======== */
.hero-section {
  display: flex;
  justify-content: center;
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: #2e2f42;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  max-width: 496px;
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  background-color: #4d5ae5;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.section {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  margin-bottom: 72px;
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.item-title {
  margin-bottom: 8px;
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-card {
  width: calc((100% - 72px) / 4);
}

.team {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-card {
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px 24px;
}

.portfolio-card {
  width: calc((100% - 48px) / 3);
  background-color: #ffffff;
}

.card-description {
  padding-top: 32px;
  padding-bottom: 32px;
}

.portfolio-card-description {
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  padding: 32px 16px;
}

/* ======== /MAIN ======== */

/* ======== FOOTER ======== */
.footer {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}

.footer-logo {
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
  color: #f4f4fd;
}

.footer-logo-span {
  color: #f4f4fd;
}
/* ======== /FOOTER ======== */
